@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.menu-btn {
  /* position: relative;
  display: flex;
  justify-content: center;
  transition: all .5s ease-in-out; */
}

.menu-btn__burger {
  width: 40px;
  height: 4px;
  background: #473EA8;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(20, 6, 1, 0.2);
  transition: all .2s ease-in-out;
}

.menu-btn__burger::before, .menu-btn__burger::after {
 content:'';
 position: absolute;
 width: 40px;
 height: 4px;
 background: #473EA8;
 border-radius: 5px;
 box-shadow: 0 2px 5px rgba(20, 6, 1, 0.2);
 transition: all .2s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-16px);
}

.menu-btn__burger::after {
  transform: translateY(16px);
}

/* Animation */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
